.lead-success-modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.65);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:9999;
}

.lead-success-content{
    background:#fff;
    width:500px;
    max-width:90%;
    padding:40px;
    border-radius:12px;
    text-align:center;
}

.lead-success-content h2{
    margin-bottom:10px;
}

.lead-success-content h3{
    color:#d32f2f;
    margin-bottom:20px;
}